p, pre {
    font-family: 'VT323', monospace;
    line-height: 20px;
    font-size: 20px;
    color: black;
}

.container {
    margin-top: 20px;
    padding-left: 20px;
    margin-left: 0px;
}


.zoom {
    margin-top: 10px;
    margin-bottom: 10px;
    transition: transform .2s; /* Animation */
    margin-bottom: 50px;
}

.zoom:hover {
/*    font-size: 20.2px;*/
}

a {
    color: #0000EE;
}

a:hover {
    text-decoration: underline;
    color: #0000EE;
}
.social {
    color: black;
}
.social:hover {
    text-decoration: underline;
    color: black;
}