@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato');

p   {
	height: 54px;
	width: 516px;
	color: #000000;
	font-family: Lato;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.1px;
	line-height: 18px;
}

pre {
    white-space: pre-wrap;
	height: 34px;
	width: 516px;
	color: #000000;
	font-family: Lato;
	font-size: 14px;
	letter-spacing: 0.1px;
	line-height: 17px;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    margin-top: 20px;
    padding-left: 20px;
    margin-left: 0px;
}


.zoom {
    margin-top: 10px;
    margin-bottom: 10px;
    transition: transform .2s; /* Animation */
    margin-bottom: 50px;
}

.zoom:hover {
/*    font-size: 20.2px;*/
}

a {
	color: #0000a3;
	height: 54px;
	width: 516px;
	font-family: Lato;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.1px;
	line-height: 18px;
}

a:hover {
    text-decoration: underline;
    color: #06edbd;
}
.social {
    color: black;
}
.social:hover {
    text-decoration: underline;
    color: black;
}
