html {
    
    letter-spacing: 0.1px;
}
p {
    font-family: 'VT323', monospace;
    line-height: 20px;
    font-size: 20px;
    color: black;
}

.container {
/*    margin-left: 249px;*/
    margin-top: 20px;
    margin-left: 20px;
}


.zoom {
    padding-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: transform .2s; /* Animation */
    margin-bottom: 50px;
}

p.links {
    line-height: 1;
}

.zoom:hover {
    font-size: 20.5px;
}

a {
    color: #0000EE;
}

a:hover {
    color: grey;
}
.social {
    color: black;
}
.social:hover {
    text-decoration: underline;
    color: black;
}